<div id="pokemonDetailsContainer">

    <div class="pokemon-details-wrapper">
        123
        <div class="pokemon-icon">
            <img src="assets/ratata.svg" alt="">
        </div>
        <div class="pokemon-details-content">
            <div class="pokemon-name-container">{{pokemon.name}}</div>
            <div class="pokemon-info-container">
                <span>{{pokemon.base_exp}}</span>
                <span>{{pokemon.weight}}</span>
                <span>{{pokemon.height}}</span>
            </div>
            <div class="pokemon-info-container">
                <!-- <span *ngFor="let movesArray of pokemon.moves">{{movesArray |json }}</span> -->
            </div>
            <div class="pokemon-info-container">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="pokemon-info-container">143123</div>

            <div class="pokemon-actions-container">154323</div>
        </div>
    </div>
</div>